---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  lang?: string;
}

const {
  title,
  ogImage = "og_image.png",
  description = "Test online tools for free",
  lang="en"
} = Astro.props;

const modifiedOgImage = `${Astro.url.origin}/${ogImage}`;
---

<!doctype html>
<html lang={lang} class="bg-bgDark2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T0TTMCQ05W"
    ></script>
    <script lang="js">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-T0TTMCQ05W");
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={modifiedOgImage} />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={modifiedOgImage} />
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
  </body>
</html>
